.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
.DS_Store

logs/*
!logs/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/parquet/*
!data/parquet/.gitkeep

data/twscrape/*
!data/twscrape/.gitkeep

playwright/.auth/
